{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/content.styles.css') }}">
{% endblock %}

{% block bodyClass %}content{% endblock %}

{% block body %}

    <header>
            <div class="container">
                <!-- Navigation  -->
                <nav class="navbar navbar-expand-md fixed-top">
                    <a href="{{ path("landing") }}" class="navbar-brand"><img src="{{ asset('assets/images/content/logo.jpeg') }}" class="logo" title="Zur Startseite" alt="Zur Startseite"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"><img src="{{ asset('assets/images/content/burger-menu.svg') }}" class="icon" title="Menü öffnen" alt="Menü öffnen"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="collapsibleNavbar">
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ asset('treefinder/treefinder.html.twig') }}">Baum-Finder</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Baumliste</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Projekte &amp; Aktuelles</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Spenden</a>
                            </li>
                            <!--
                            <li class="nav-item">
                                <a class="nav-link" href="#">Wunschliste</a>
                            </li>
                            -->
                        </ul>
                    </div>
                </nav>
            </div>
    </header>

    <main class="{% block mainClass %}{% endblock %}">
        {% block main %}{% endblock %}
    </main>

    <footer>
        <!-- Footer  -->
        <div class="row footer">
            <div class="col-sm-6 footer-col">
                <a href="" class="footer-title">Community</a>
                <a href="" class="footer-title">Kontakt</a>
            </div>
            <div class="col-sm-6 footer-col">
                <a href="" class="footer-title">Impressum</a>
                <a href="" class="footer-title">Datenschutz</a>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h6 class="small-text">Zukunftsbaum D&uuml;sseldorf 2020</h6>
                </div>
            </div>
        </div>
        <!-- End of Footer -->
    </footer>


{% endblock %}


{% block javascripts %}
    <script src="{{ asset('assets/js/content.scripts.js') }}"></script>
{% endblock %}
