{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }}
    Admin
{% endblock %}

{% block bodyClass %}admin admin-index{% endblock %}

{% block body %}
    <h1>Administrator-Bereich</h1>

    <h2>Baum erstellen</h2>
    <form class="admin-new-tree-form">
        <label>
            Name:
            <input class="admin-new-tree-name" name="name" type="text" required="required" />
        </label>
        <label>
            Bild:
            <input class="admin-new-tree-name" name="pic" type="file" />
            TODO
        </label>

        <br/>
        <div class="admin-new-tree-informations">
            <span>Baum Informationen:</span>
            <div id="admin-new-tree-information-blueprint" style="display: none;">
                <div class="admin-new-tree-information">
                    <label>
                        Informations-Art:
                        <input class="admin-new-tree-information-name" type="text" required="required" />
                    </label>
                    <label>
                        Informations-Wert:
                        <textarea class="admin-new-tree-information-value" required="required" rows="1" ></textarea>
                    </label>
                    <button type="button">Information entfernen</button>
                </div>
            </div>

            <br/>
            <button class="admin-new-tree-add-information-button" type="button">Information hinzufügen</button>
        </div>

        <br/>
        <button type="submit">Baum erstellen</button>
        <button type="reset">Eingaben löschen</button>
    </form>

    <h2>Baum-Übersicht</h2>
    <table class="admin-index-table">
        <thead>
            <tr>
                <td>Baum-ID</td>
                <td>erstellt am</td>
                <td>Baum-Informationen</td>
                <td>Operationen</td>
            </tr>
        </thead>
        <tbody>
            {% for tree in trees %}
                <tr>
                    <td>{{ tree.id }}</td>
                    <td>{{ tree.createdAt|date }}</td>
                    <td>
                        <ul>
                            {% for info in tree.informations %}
                                <li>
                                    {{ info.name }}: {{ info.value }}
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li class="admin-delete-tree-li">
                                <button class="admin-delete-tree-button" id="admin-delete-tree-button-{{ tree.id }}" data-toggle-show="admin-delete-tree-confirm-buttons-{{ tree.id }}">gesamten Baum dauerhaft löschen</button>
                                <div class="admin-delete-tree-confirm-buttons" id="admin-delete-tree-confirm-buttons-{{ tree.id }}"
                                style="display: none;">
                                    <span>Sicher?</span>
                                    <form action="{{ path('admin_delete_tree', {'id': tree.id}) }}">
                                        <button class="admin-delete-tree-confirm-button" type="submit">Ja</button>
                                    </form>
                                    <button class="admin-delete-tree-unconfirm-button"
                                            data-toggle-show="admin-delete-tree-button-{{ tree.id }}"
                                            data-toggle-hide="admin-delete-tree-confirm-buttons-{{ tree.id }}">
                                        Abbrechen</button>
                                </div>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
