{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }}
    Admin
{% endblock %}

{% block bodyClass %}admin admin-index{% endblock %}

{% block body %}
    <h1>Administrator-Bereich</h1>

    <h2>Baum erstellen</h2>
    <form class="admin-new-tree-form" method="POST" action="{{ path('admin_new_tree') }}" enctype="multipart/form-data">
        <label>
            Name:
            <input class="admin-new-tree-name" name="name" type="text" required="required"/>
        </label>
        <label>
            Bild:
            <input class="admin-new-tree-pic" name="pictures[]" type="file" multiple="multiple"/>
            TODO
        </label>

        <br/>
        <span>Baum Informationen:</span>
        <br/>
        <button class="admin-new-tree-add-information-button" type="button">Information hinzufügen</button>
        <div id="admin-new-tree-information-blueprint" style="display: none;">
            <div class="admin-new-tree-information">
                <label>
                    Informations-Art:
                    <select class="admin-new-tree-information-name" required="required" name="information-name-">
                        <option value="Farbe">Farbe</option>
                        <option value="Höhe">Höhe</option>
                        <option value="Wasserverbrauch">Wasserverbrauch</option>
                    </select>
                </label>
                <label>
                    Informations-Wert:
                    <textarea class="admin-new-tree-information-value" required="required" name="information-value-" rows="1"></textarea>
                </label>
                <button class="admin-new-tree-delete-information-button" type="button">Information entfernen</button>
            </div>
        </div>
        <div class="admin-new-tree-informations"></div>

        <br/>
        <br/>
        <button type="submit">Baum erstellen</button>
        <button type="reset">Eingaben löschen</button>
    </form>

    <h2>Baum-Übersicht</h2>
    <table class="admin-index-table">
        <thead>
            <tr>
                <td>Baum-ID</td>
                <td>erstellt am</td>
                <td>Name</td>
                <td>Bilder</td>
                <td>Baum-Informationen</td>
                <td>Operationen</td>
            </tr>
        </thead>
        <tbody>
            {% for tree in trees %}
                <tr>
                    <td>{{ tree.id }}</td>
                    <td>{{ tree.createdAt|date }}</td>
                    <td class="admin-index-table-tree-name">{{ tree.name }}</td>
                    <td>
                        <ul class="no-decoration">
                            {% for pic in tree.pictures %}
                                <li>
                                    <a href="{{ asset(treePicsDir ~ pic.path) }}" target="_blank">
                                        <img src="{{ asset(treePicsDir ~ pic.path) }}" alt="" width="150px"/>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <ul>
                            {% for info in tree.informations %}
                                <li>
                                    {{ info.name }}: {{ info.value }}
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <ul class="no-decoration">
                            <li class="admin-delete-tree-li">
                                <button class="admin-delete-tree-button" id="admin-delete-tree-button-{{ tree.id }}" data-toggle-show="admin-delete-tree-confirm-buttons-{{ tree.id }}">gesamten Baum dauerhaft löschen</button>
                                <div class="admin-delete-tree-confirm-buttons" id="admin-delete-tree-confirm-buttons-{{ tree.id }}"
                                style="display: none;">
                                    <span>Sicher?</span>
                                    <form action="{{ path('admin_delete_tree', {'id': tree.id}) }}">
                                        <button class="admin-delete-tree-confirm-button" type="submit">Ja</button>
                                    </form>
                                    <button class="admin-delete-tree-unconfirm-button"
                                            data-toggle-show="admin-delete-tree-button-{{ tree.id }}"
                                            data-toggle-hide="admin-delete-tree-confirm-buttons-{{ tree.id }}">
                                        Abbrechen</button>
                                </div>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
