{% extends "content/content_base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/searchOutput.styles.css') }}">
{% endblock %}

{% block title %}
    {{ parent() }}
    Suchergebnis
{% endblock %}

{% block mainClass %}searchOutput{% endblock %}

{% block main %}

    <div class="space"></div>
    <!-- #### Select Menü um die Filter neu zu setzen #### -->
    <div class="dropdown">
        <form class="option search-output-form" action="#">

            <label for="height"></label>
            <select id="height" class="quest" required>
                <!--Wuchs Höhe des Baums -->
                <!--Werte:
                    0 bis 5 m
                    5 bis 10 m
                    10 bis 20 m
                    20 bis 30 m
                    über 30 m-->
                <option value="" disabled selected>Höhe</option>
                <option class="option" value="0 bis 5 m">0 bis 5 m</option>
                <option class="option" value="5 bis 10 m">5 bis 10 m</option>
                <option class="option" value="10 bis 20 m">10 bis 20 m</option>
                <option class="option" value="20 bis 30 m">20 bis 30 m</option>
                <option class="option" value="über 30 m">über 30 m</option>
            </select>

            <label for="width"></label>
            <select id="width" class="quest" required>
                <!-- Wuchs Breite der Baumkrone -->
                <!--Werte:
                    0 bis 5 m
                    6 bis 10 m
                    11 bis 20 m
                    über 20 m-->
                <option value="" disabled selected>Breite</option>
                <option class="option" value="0 bis 5">0 bis 5</option>
                <option class="option" value="5 bis 10">5 bis 10</option>
                <option class="option" value="10 bis 20 m">10 bis 20 m</option>
                <option class="option" value="über 20 m">über 20 m</option>
            </select>

            <label for="light"></label>
            <select id="light" class="quest" required>
                <!-- Lichtbedarf -->
                <!--Werte:
                    Sonne
                    Lichter Schatten
                    Halbschatten
                    Schatten-->
                <option value="" disabled selected>Lichtbedarf</option>
                <option class="option" value="Sonne">Sonne</option>
                <option class="option" value="Lichter Schatten">Lichter Schatten</option>
                <option class="option" value="Halbschatten">Halbschatten</option>
                <option class="option" value="Schatten">Schatten</option>
            </select>

            <label for="bees"></label>
            <select id="bees" class="quest" required>
                <!-- Bienenfreundlichkeit -->
                <!--Werte:
                    9-10 = Sehr gut
                    6-8  = Gut
                    3-5  = mittel
                    0-2  = gering oder unbekannt -->
                <option value="" disabled selected>Bienenweide</option>
                <option class="option" value="sehr gut">sehr gut</option>
                <option class="option" value="gut">gut</option>
                <option class="option" value="mittel">mittel</option>
                <option class="option" value="gering">gering</option>
            </select>

            <input class="buttonS" type="submit" value="Suchen">
        </form>
    </div>


    <!-- ### Start der Profil Ausgabe bzw. such ausgabe ### -->
    <div class="parent">
        <div class="row1">
            {% for tree in trees %}
                <a class="item" href="{{ path('detail', {'id': tree.id}) }}">
                    {{ tree.name }}
                    <img class="itemPix" src="{% if tree.pictures|length > 0 %}{{ asset(treePicsDir ~ tree.pictures[0].path) }}{% endif %}" alt="">
                </a>
            {% endfor %}
        </div>
    </div>

{% endblock %}


{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/js/content.searchOutput.scripts.js') }}"></script>
{% endblock %}

