{% extends "content/content_base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/searchOutput.styles.css') }}">
{% endblock %}

{% block title %}
    {{ parent() }}
    Suchergebnis
{% endblock %}

{% block mainClass %}searchOutput{% endblock %}

{% block main %}

    <div class="space"></div>
    <!-- #### Select Menü um die Filter neu zu setzen #### -->
    <div class="dropdown">
        <form class="option search-output-form" action="#">

            <label for="height"></label>
            <select id="height" class="Höhe-input quest search-output-form-input range-input" required="required" name="Wuchshöhe">
                <!--Wuchs Höhe des Baums -->
                <!--Werte:
                    0 bis 5 m
                    5 bis 10 m
                    10 bis 20 m
                    20 bis 30 m
                    30 bis 45 m
                    über 45 m-->
                <option value="" disabled="disabled" selected="selected">Höhe</option>
                <option class="option" value="all">Alle</option>
                <option class="option" value="0-5">0 bis 5 m</option>
                <option class="option" value="5-10">5 bis 10 m</option>
                <option class="option" value="10-20">10 bis 20 m</option>
                <option class="option" value="20-30">20 bis 30 m</option>
                <option class="option" value="30-45">30 bis 45 m</option>
                <option class="option" value="45+">über 45 m</option>
            </select>

            <label for="width"></label>
            <select id="width" class="Breite-input quest search-output-form-input range-input" required="required" name="Wuchsbreite">
                <!-- Wuchs Breite der Baumkrone -->
                <!--Werte:
                    0 bis 5 m
                    6 bis 10 m
                    10 bis 20 m
                    20 bis 30 m
                    über 30 m-->
                <option value="" disabled="disabled" selected="selected">Breite</option>
                <option class="option" value="all">Alle</option>
                <option class="option" value="0-5">0 bis 5 m</option>
                <option class="option" value="5-10">5 bis 10 m</option>
                <option class="option" value="10-20">10 bis 20 m</option>
                <option class="option" value="20-30">20 bis 30 m</option>
                <option class="option" value="30+">über 30 m</option>
            </select>

            <label for="light"></label>
            <select id="light" class="Lichtbedarf-input quest search-output-form-input value-input" required="required" name="Lichtbedarf">
                <!-- Lichtbedarf -->
                <!--Werte:
                    Sonne = 4
                    Lichter Schatten = 3
                    Halbschatten = 2
                    Schatten = 1 -->
                <option value="" disabled="disabled" selected="selected">Lichtbedarf</option>
                <option class="option" value="all">Alle</option>
                <option class="option" value="4">Sonne</option>
                <option class="option" value="3">Lichter Schatten</option>
                <option class="option" value="2">Halbschatten</option>
                <option class="option" value="1">Schatten</option>
            </select>

            <label for="bees"></label>
            <select id="bees" class="Bienenweide-input quest search-output-form-input range-input" required="required" name="Bienenweide">
                <!-- Bienenfreundlichkeit -->
                <!--Werte:
                    9-10 = Sehr gut
                    6-8  = Gut
                    3-5  = mittel
                    0-2  = gering oder unbekannt -->
                <option value="" disabled="disabled" selected="selected">Bienenweide</option>
                <option class="option" value="all">Alle</option>
                <option class="option" value="9-10">sehr gut</option>
                <option class="option" value="6-8">gut</option>
                <option class="option" value="3-5">mittel</option>
                <option class="option" value="0-2">gering / keine Angabe</option>
            </select>

            {#
            <input class="buttonS" type="submit" value="Suchen">
            #}
        </form>
    </div>


    <!-- ### Start der Profil Ausgabe bzw. such ausgabe ### -->
    <div class="parent tree-search-result">
        <div class="row1">
            {% for key, tree in trees %}
                <a class="item tree-search-result-item" href="{{ path('detail', {'id': tree.id}) }}" style="display: none;">
                    {{ tree.name }}
                    <img class="itemPix" src="{% if tree.pictures|length > 0 %}{{ asset(treePicsDir ~ tree.pictures[0].path) }}{% endif %}" alt="">
                    {% for searchInfo in tree.searchableInformations %}
                        <input class="searchable-information" type="hidden" name="{{ searchInfo.name }}" value="{{ searchInfo.value }}">
                    {% endfor %}
                </a>
            {% endfor %}
        </div>
    </div>

    <div class="no-trees-found-message text-center" style="display: none;">
        <br/><br/>
        Mit den angebenen Suchparametern konnte leider kein passender Baum gefunden werden.
        <br/>
        Über die Eingabefelder oben kann die Suche angepasst werden.
    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/js/content.searchOutput.scripts.js') }}"></script>
{% endblock %}

