{% extends "content/content_base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/treeProfil.styles.css') }}">
{% endblock %}

{% block title %}
    {{ parent() }}
    {{ tree.name }}
{% endblock %}

{% block mainClass %}detail{% endblock %}


{% block main %}

    <div id="BaumProfil">
        <div class="BaumProfilHead">
            <div class="ProfilBild">
                <img class="imgProfil" src="{{ asset('assets/images/content/testBild.jpg') }}" alt="Noch kein Bild da">
            </div>
            <div class="BaumName">
                <h3>Baumname</h3>
                <h3>Baumname Wissenschaftlich</h3>
            </div>

        </div>
        <div class="BaumProfilBody">
            <div class="Grunddaten">
                <h3>Steckbrief</h3>
                <ul>
                    <li>Herkunft:</li>
                    <li>Breite:</li>
                    <li>Höhe:</li>
                    <li>Lichtbedarf:</li>
                    <li>Lichtdurchlässigkeit:</li>
                    <li>Bienenfreundlichkeit:</li>
                </ul>
            </div>

            <div class="Eigenschaften">
                <h3>Kategorie: 4</h3> <!-- 4 wird generiert, genaus so wie text im <p> -->
                <p>
                    Problembäume die aufgrund von Bakterien- oder Pilzbefall,
                    Bruchgefahr und weiteren negativen Eigenschaften nicht mehr
                    als Straßenbäume gepflanzt werden. Ersatzpflanzung bestehender
                    Alleen erfolgen nur noch in begründeten Ausnahmefällen.
                </p>
            </div>
            <div class="Besonderheiten">
                <h3>Besonderheiten:</h3>
                <p>
                    zylindrische Form, kegelförmiger Wuchs,
                    in der Jugend lieber schattig, luftfeuchte Lagen,
                    sehr empfindlich gegenüber jeder Art
                    von Boden- oder Luftverschmutzung
                </p>
            </div>
        </div>
    </div>


    <br/><br/><br/>
    <br/><br/><br/>


    BAUMNAME:
    {{ tree.name }}
    <br/>

    ID:
    {{ tree.id }}
    <br/>
    <br/>



    Beispiele für gezielte Ausgabe von Information:
    <br/>
    {% for info in tree.informations %}
        {% if info.name == "Wuchshöhe" %}
            {{ info.name }}: {{ info.value }} Meter
        {% endif %}
    {% endfor %}
    <br/>

    {% for info in tree.informations %}
        {% if info.name == "Baumname Wissenschaftlich" %}
            {{ info.name }}: {{ info.value }}
        {% endif %}
    {% endfor %}
    <br/>
    <br/>


    Beispiel für Ausgabe von HTML-Code abhängig von einer Variablen:
    <br/>
    {% for index, info in tree.informations %}
        {% if info.name == "Kategorie" %}

            {% if info.value == "1" %}
                <p>
                    Kategorie 1 Text Bla Bla Bla
                </p>
            {% endif %}
            {% if info.value == "2" %}
                <p>
                    Kategorie 2 Text Bla Bla Bla
                </p>
            {% endif %}
            {% if info.value == "3" %}
                <p>
                    Kategorie 3 Text Bla Bla Bla
                </p>
            {% endif %}
            {% if info.value == "4" %}
                <p>
                    Kategorie 4 Text Bla Bla Bla
                </p>
            {% endif %}

        {% endif %}
    {% endfor %}
    <br/>

    Beispiel für gezielte Ausgabe von Information, für die es aber mehrere Werte gibt:
    <br/>
    Lichtbedarf:
    <br/>
    {% for index, info in tree.informations %}
        {% if info.name == "Lichtbedarf" %}
            {% if index > 0 %},{% endif %}

            {% if info.value == 4 %}Sonne{% endif %}
            {% if info.value == 3 %}Lichter Schatten{% endif %}
            {% if info.value == 2 %}Halbschatten{% endif %}
            {% if info.value == 1 %}Schatten{% endif %}
        {% endif %}
    {% endfor %}
    <br/>
    <br/>



    <br/><br/><br/><br/>
    Ausgabe von einfach allen Tree-Infos:
    <br/>
    {% for info in tree.informations %}
        {{ info.name }}: {{ info.value }}
        <br/>
    {% endfor %}
    <br/>





    <br/><br/>
    Erstes Bild:
    <br/>
    {% for index, pic in tree.pictures %}
        {% if index == 0 %}
            <img src="{{ asset(treePicsDir ~ pic.path) }}" alt="" width="200px"/>
            <br/>
        {% endif %}
    {% endfor %}

    Restliche Bilder:
    <br/>
    {% for index, pic in tree.pictures %}
        {% if index > 0 %}
            <img src="{{ asset(treePicsDir ~ pic.path) }}" alt="" width="200px"/>
            <br/>
        {% endif %}
    {% endfor %}

{% endblock %}

