{# Global Twig-Variables: #}
{% set optionalInformationNames = ["Baumname Wissenschaftlich", "Kategorie", "Herkunft", "Lichtdurchlässigkeit", "Bemerkung"] %}
{% set requiredInformationNames = ["Wuchshöhe", "Wuchsbreite", "Lichtbedarf", "Bienenweide"] %}
{% set allInformationNames = requiredInformationNames|merge(optionalInformationNames) %}


{# Document Start: #}
<!DOCTYPE html>
<html lang="de">

    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Zukunftsbaum | {% endblock %}</title>
        <meta name="description" lang="de" content="Düsseldorf, Bäume, Baum, Pflanzen, Co2 einsparen, Klima, Zukunftsbaum, NRW, Pflegetipps für Pflanzen und Bäume, Baum-o-Mat, Baumfinder"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/styles.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>

    <body class="{% block bodyClass %}{% endblock %}">

        {% block body %}
            default
        {% endblock %}

        <script type="text/javascript" src="{{ asset('assets/js/jquery-3.4.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/popper.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/scripts.js') }}"></script>
        {% block javascripts %}{% endblock %}

    </body>

</html>
